.home_root {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 30, 60);
    display: flex;
}

.chat_body {
    width: 80%;
    margin-left: 10%;
    height: 80vh;
    margin-top: 10vh;
    border-radius: 30px;
    border: 2px solid #F8F9F9;
}

.chat_card {
    width: 100%;
    height: 80vh;
    display: flex;
}

.card_left {
    border-right: 1px solid #707B7C;
    width: 100%;
    height: 100%;
    display: flex;
}

.card_left_content {
    padding: 15px;
    display: flex;
    width: 100%;
}

.aside_root {
    display: flex;
    width: 100%;
    height: 75vh;
    flex-direction: column;
    padding: 3px;
}

.aside_header {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.aside_chat_list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.card_right {
    width: 100%;
    height: 100%;
    display: flex;
}

.card_right_content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.card_right_header {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #707B7C;
}

.card_right_body {
    width: 100%;
    height: 60vh;
}

.card_right_footer {
    width: 100%;
    height: 10vh;
    border-top: 1px solid #707B7C;
    align-items: center;
}

.chat_header_root {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.secondary_user_blog {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondary_user_detail {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.secondary_user_name {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1.2px;
}

.secondary_user_active {
    color: rgba(0, 255, 0, 0.8);
    font-size: 0.8rem;
}

.chat_footer_root {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer_input_blog {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_input {
    width: 100%;
    margin-left: 5px;
}

.chat_list_body_root {
    width: 100%;
    height: 100%;
    display: flex;
}

.chat_list_body {
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}

.message_type_1 {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: flex-end;
}

.message_type_2 {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.message_type_blog {
    display: flex;
    flex-direction: column;
}

.message_type_1_date {
    align-self: flex-end;
    color: honeydew;
    font-size: 0.6rem;
    margin-right: 5px;
}

.message_type_2_date {
    color: honeydew;
    font-size: 0.6rem;
    margin-left: 5px;
}

.aside_choicer {
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .secondary_user_name {
        font-size: 0.5rem;
    }

    .secondary_user_active {
        font-size: 0.5rem;
    }    
}