.signIn_root {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 30, 60);
    display: flex;
}

.signIn_body {
    width: 80%;
    margin-left: 10%;
    height: 80vh;
    margin-top: 10vh;
    border-radius: 30px;
    border: 2px solid #F8F9F9;
    align-items: center;
    justify-content: center;
}

.signIn_card {
    width: 100%;
    height: 79.5vh;
    display: flex;
}

.form_root {
    padding: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_header {
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form_header_title {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 15px;
}

.form_btn_root {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.form_forgot_password_root {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.form_forgot_password {
    color: grey;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.form_forgot_password:hover {
    cursor: pointer;
    color: #C0392B;
}

.form_btn {
    width: 50%;
    margin-right: 5px;
}